@import url('https://fonts.cdnfonts.com/css/secular-one');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

$black: #0e0e0e;
$white: #fefefe;
$orange: #f59806;
$gray: #eeeeee;
$dark-gray: #5e5d5a;
$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$small-radius: 0.5em;
$text: 1em;
$large-text: 3em;
$extra-large-text: 4em;
$font: 'Secular One', sans-serif;